.hide {
    display: none;
}
.left {
    float: left;
    border: solid 1px grey;
    background-color: rgb(153, 150, 150);
    text-align: center;

}
.right {
    float: right;
    background-color: rgb(153, 150, 150);
    border: solid 1px grey;
    text-align: center;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
}

.container {
   
    border: dotted 11px white;
    width: 95%;
    margin: 5px, 5px, 5px, 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.left {
    background-color: rgb(153, 150, 150);
}